:root{
    --background:#343434;
    --primary-color:#535252;
    --secondary-color:#7e7e7e;
    --accent-color:#e6e625;
    --text-color:#f9f9f9;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16pt;
    color:var(--text-color);
}

body{
    min-height:100vh;
    padding:1rem;
    background-color:var(--background);
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    margin-top:7rem;
    margin-bottom:1.5rem;
    font-size:3rem;
    font-weight:800;
    text-align:center;
    text-transform:uppercase;
    color:var(--accent-color);
}

.wrapper{
    width:700px;
    max-width:100%;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

/* ### input line with button */

#todo-input{
    padding:1.2rem 2rem;
    width:100%;
    background-color:var(--primary-color);
    border:2px solid var(--secondary-color);
    border-radius:1000px;
    font:inherit;
    color:var(--text-color);
    caret-color:var(--accent-color);
}

#todo-input:focus{
    outline:none;   /*  to suppress browser highlighting the field selected    */
}

form{
    position:relative;      /*  sets the reference point for all children to form's current position   */
}
#add-button{
    position:absolute;
    top:0;
    right:0;

    padding:1.2rem 2rem;
    font:inherit;
    background-color:var(--accent-color);
    border-radius:3rem;
    border:2px solid var(--accent-color);
    cursor:pointer;
}

/* #### Tasks list */

#todo-list{
    list-style-type:none;
}

li.todo{
    padding:0 0.5rem;
    margin-bottom:0.6rem;
    display:flex;
    align-items:center;

    background-color:var(--primary-color);
    border-radius:4rem;
    justify-content:space-between;
}

.todo-text{
    padding:0.6rem;
    padding-right:0;
    width:100%;
    font-weight:300;
}

/* buttons in task list */

.todo input[type="checkbox"]{
    /* display:none; */
}

.custom-checkbox{
    display:flex;
    align-items:center;
}

.custom-checkbox svg{
    box-sizing:content-box;
    border:3px solid var(--accent-color);
    border-radius:50%;
    padding:0.15rem;
    flex-shrink:0;
}

input[type="checkbox"]:checked ~.custom-checkbox svg{      /*  sibling and then its child is selected */
    fill:var(--accent-color);
}
input[type="checkbox"]:checked ~.todo-text{                 /*    when checkbox is checked, task text is crossed out and darker  */
    text-decoration:line-through;
    color:var(--secondary-color);
}

.delete-button{
    padding:0.2rem;
    background:none;
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
}
.delete-button svg{
    transition:200ms ease;
}
.delete-button:hover svg{
    fill:var(--accent-color);
}